<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>ColorPicker.png</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/php</string>
			<key>Shell Script File</key>
			<string>index.php</string>
			<key>Title</key>
			<string>Hex To UIColor</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Change HEX to UIColor</string>
	<key>Extension Identifier</key>
	<string>com.alexhedley.popclip.extension.hextouicolor</string>
	<key>Extension Name</key>
	<string>HEX to UIColor</string>
	<key>Regular Expression</key>
	<string>(^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$)</string>
</dict>
</plist>
